:root {

  --warna-utama: #4000ff;
  --warna-sekunder: #6100ff;
  --warna-latar: #000000;
  --warna-teks: #f8e9ec;
  --warna-putih: #000000;
  --warna-border: #e8cfd4;

  --jarak-kecil: 0.5rem;
  --jarak-sedang: 1rem;
  --jarak-besar: 2rem;

  --radius-kecil: 0.5rem;
  --radius-besar: 1rem;

  /* =========================
     TOKEN PERAN
     ========================= */
  --warna-background: var(--warna-latar);
  --warna-text-primary: var(--warna-teks);
  --warna-text-inverse: var(--warna-putih);

  --warna-accent: var(--warna-utama);
  --warna-accent-hover: var(--warna-sekunder);
  --warna-outline: var(--warna-utama);

  --warna-border-default: var(--warna-border);
}